<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="tests" thread-count="2">
  <listeners>
    <listener class-name="listeners.TestListeners"/>
  </listeners>
  <test name="SimpleTest">
    <parameter name="browser" value="chrome"/> <!--firefox, chrome -->
    <parameter name="labrun" value="false"/> <!--true, false -->
    <groups>
      <run>
        <include name="functest"/>
      </run>
    </groups>
    <classes>
      <class name="SimpleTest"/>
    </classes>
  </test>
</suite>
